@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  /* color */
  --main-green-color: #219F94;
  --main-gray-color: #C4C4C4;
  --main-white-color: #F2F4F7;
}

a{
  display: block;
  margin:0;
}

body {
  font-family: 'Gothic A1', sans-serif;
  box-sizing: border-box;
  background-color: var(---main-white-color);
}

h1 {
  color: var(--main-green-color)
}

.Gothic-normal {
  font-weight: normal;
}
.Gothic-bold {
  font-weight: bold;
}
.Gothic-100 {
  font-weight: 100;
}
.Gothic-200 {
  font-weight: 200;
}
.Gothic-300 {
  font-weight: 300;
}
.Gothic-400 {
  font-weight: 400;
}
.Gothic-500 {
  font-weight: 500;
}
.Gothic-600 {
  font-weight: 600;
}
.Gothic-700 {
  font-weight: 700;
}
.Gothic-800 {
  font-weight: 800;
}
.Gothic-900 {
  font-weight: 900;
}